<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_login %}
<div
    v-show="shouldRenderDOM"
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_image %}
        <div class="sw-login__image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_image_headlines %}
            <div class="sw-login__image-headlines">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_headline %}
                <div class="sw-login__headline">
                    {{ $tc('sw-login.index.headlineMain') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_sub_headline %}
                <div class="sw-login__sub-headline">
                    {{ $tc('sw-login.index.subheadlineMain') }}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_form %}
        <div class="sw-login__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_badge %}
            <div class="sw-login__badge">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_badge_image %}
                <svg
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M34 21.5769C32.7355 28.41 26.7779 34 17.5878 34C6.60976 34 0 26.0572 0 17.0045C0 8.13402 6.28253 0 17.492 0C27.1074 0 33.0651 5.95827 33.9532 13.3946H26.0276C25.3265 9.6075 22.4166 6.74573 17.5878 6.74573C11.3006 6.74573 7.73865 11.6426 7.73865 17.0045C7.73865 22.6843 11.7236 27.2591 17.6813 27.2591C22.0894 27.2591 24.9969 24.7634 25.9341 21.5769H34Z"
                        fill="white"
                    />
                </svg>
                {% endblock %}
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_view %}

            <router-view
                v-slot="{Component}"
            >
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <component
                        :is="Component"
                        :hash="hash"
                        @is-loading="setLoading(true)"
                        @is-not-loading="setLoading(false)"
                        @login-error="loginError"
                        @login-success="loginSuccess"
                    />
                </transition>
            </router-view>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
