<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_login %}
<div
    v-show="shouldRenderDOM"
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_image %}
        <div class="sw-login__image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_image_headlines %}
            <div class="sw-login__image-headlines">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_headline %}
                <div class="sw-login__headline">
                    {{ $tc('sw-login.index.headlineMain') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_sub_headline %}
                <div class="sw-login__sub-headline">
                    {{ $tc('sw-login.index.subheadlineMain') }}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_form %}
        <div class="sw-login__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_badge %}
            <div class="sw-login__badge">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_badge_image %}
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.9999 4.97913C30.3957 1.90277 25.4165 0 19.9167 0C8.91702 0 0 7.61116 0 17C0 26.3888 8.91702 34 19.9167 34C25.4166 34 30.3958 32.0972 34 29.0208L26.176 22.3426C24.5741 23.7099 22.3611 24.5556 19.9167 24.5556C15.028 24.5556 11.0648 21.1728 11.0648 17C11.0648 12.8272 15.028 9.44444 19.9167 9.44444C22.3611 9.44444 24.574 10.2901 26.1759 11.6574L33.9999 4.97913Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.3259 22.4176L20.1355 17L26.3259 11.5825C27.9102 12.9689 28.8901 14.8843 28.8901 17C28.8901 19.1157 27.9102 21.0311 26.3259 22.4176Z" fill="#FE3D7F"/>
                    </svg>
                {% endblock %}
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_view %}

            <router-view
                v-slot="{Component}"
            >
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <component
                        :is="Component"
                        :hash="hash"
                        @is-loading="setLoading(true)"
                        @is-not-loading="setLoading(false)"
                        @login-error="loginError"
                        @login-success="loginSuccess"
                    />
                </transition>
            </router-view>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
