.sw-order-state-change-modal {
    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .sw-order-state-change-modal__button {
        margin-left: 10px;
        height: 32px;
        margin-top: 8px;
    }
}
