{% extends "base.html.twig" %}

{% block main %}
    <div class="card__title">
        <h2>{{ 'cicada.update.navigation.finish'|trans }}</h2>
    </div>

    <div class="card__body">
        <p>
            {{ 'cicada.update.steps.finish.message'|trans }}
        </p>
    </div>

    <form method="post" class="card__footer flex-container">
        <button type="submit" class="btn btn-primary flex-item flex-right">{{ 'cicada.update.steps.finish.submit'|trans }}</button>
    </form>
{% endblock %}
